* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    background-color: aquamarine;

    nav {
        flex-direction: row;
        justify-content: space-evenly;
        align-self: flex-end;
        padding-right: 2vw;

        a {
            color: red;
            text-decoration: none;
            font-size: larger;
            padding: 2px;
            border-bottom: black solid 4px;

            &:hover {
                color: blue;
            }
        }

    }

    .title {
        text-align: center;
        padding: 2vh;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: azure;
        justify-content: center;
        text-align: justify;
        border-radius: 2%;
        border: black solid 1.5px;
        padding: 4%;
        width: 80%;

        h2 {
            padding: 2vh;
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-wrap: wrap;
        p{
            padding: 2%;
        }
    }
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.form-container-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.form-container-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.skills {
    text-align: right;
    padding: 1%;
    color: white;
}

.html {
    width: 90%;
    background-color: #04AA6D;
    justify-self: center;
    text-align: center;
    height: 85%;
}

.scss {
    width: 50%;
    background-color: #2196F3;
}

.python {
    width: 95%;
    background-color: #f44336;
}

.java {
    width: 10%;
    background-color: #808080;
}

.main-page-container {
    display: flex;
}

.stacked-divs {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex: 1;
}

.top-div,
.bottom-div {
    flex: 1;
}

.right-div {
    flex: 0 0 auto;
    width: 50%;
    p {
        overflow: wrap;
    }
}